{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

	</head>
	<body class="img js-fullheight" style="Background : linear-gradient(341deg,#171E6E,#38AFFB)">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Clipart Embroidery</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4" style="border-radius: 14px;
				background-position: right;
				background-repeat: no-repeat;
				background-size: cover;
				min-height: 190px;
				padding: 1em 0.5em;
				width: 250px;
				margin: 2em auto;
				background-color: #303f9f24;
				box-shadow: 30px 30px 40px #4b443991, -20px -20px 40px #463c39">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center" style="font-weight: 900; font-size: larger;" >Already Having Account??</h3>
		      	<form action="/" class="signin-form" method="post">
					{% csrf_token %}
		      		<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Username" name="username" required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" name="password" placeholder="Password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<input type="submit" value="Sign In" class="form-control btn btn-primary submit px-3">
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="#" style="color: #fff">Forgot Password</a>
								</div>
	            </div>
	          </form>
	          
	          <!-- <div class="social d-flex text-center"> -->
				{% load socialaccount %}
				<div class="final" style="display: flex; justify-content:space-around">

				
	          	<button  class="px-2 py-2 mr-md-1 rounded" cla><span class="ion-logo-facebook mr-2" ></span><a href="{% provider_login_url 'google'%}?next=/" style="text-decoration: none;color:black">Google</a>
				</button>
				<a href="/signup">
	          	<button  class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span>
				
				Sign Up</button>
				</a>
				</div>
	          <!-- </div> -->
		      </div>
				</div>
			</div>
		</div>

	</section>

	<script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

	</body>
</html>

