*{
    padding: 0%;
    margin: 0%;
    font-family: "Poppins";
}
.navigation {
    height: 55px;
    background: linear-gradient(45deg, #171d24, #233952);
}

.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 55px;
    text-transform: uppercase;
    font-size: 1.4em;
}

.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 55px;
    color: #fff;
    background: #262626;
    text-decoration: none;
}

nav ul li a {
    background: transparent;
    color: #FFF;
}

nav ul li a:hover,
nav ul li a:visited:hover {
    background: #655877;
    color: #ffffff;
}

.navbar-dropdown li a {
    background: #2581DC;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' \025BE';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.navbar-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    height: 55px;
    width: 70px;
}

@media only screen and (max-width: 800px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: 55px 0 15px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 15px;
        line-height: 20px;
        background: #262626;
    }

    nav ul li ul li a {
        padding-left: 30px;
    }

    .navbar-dropdown {
        position: static;
    }

    @media screen and (min-width:800px) {
        .nav-list {
            display: block !important;
        }
    }

    #navbar-toggle {
        position: absolute;
        left: 18px;
        top: 15px;
        cursor: pointer;
        padding: 10px 35px 16px 0px;
    }

    #navbar-toggle span,
    #navbar-toggle span:before,
    #navbar-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 30px;
        background: #ffffff;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }

    #navbar-toggle span:before {
        top: -10px;
    }

    #navbar-toggle span:after {
        bottom: -10px;
    }

    #navbar-toggle.active span {
        background-color: transparent;
    }

    #navbar-toggle.active span:before,
    #navbar-toggle.active span:after {
        top: 0;
    }

    #navbar-toggle.active span:before {
        transform: rotate(45deg);
    }

    #navbar-toggle.active span:after {
        transform: rotate(-45deg);
    }
}
.container{
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    border: 2px solid black;
    height: 450px;
    width: 550px;
}

label{
    margin-right: 9px;
    font-size: 16px;
    font-weight: 400;
}

input{
    margin-left: 34px;
    background-color: rgb(234, 237, 234);
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 240px;
    height: 35px;
    margin: 2vh 0px;
}

input:focus{
    background-color: #afe9f0;
}
.user{
    cursor: pointer;
    margin-top: 2vh;
    height: 50px;
    width: 100px;
    border: 2px solid #06080a;
    background-color: black;
    color: white;
    border-radius: 15px;
    text-transform: uppercase;
}
.user:hover{
    background-color: #192129;
}
.GSTno{
    padding-right: 40px;
}
input{
    text-transform: uppercase;
    font-weight: 500;
}
input[name="firmn"]{
    margin-left: 25px;
}
input[name = "lastn"]{
    margin-left: 20px;
}
input[name="gstno"]{
    margin-left: 40px;
}
.gstl{
    margin-left: 40px;
}
input[name="mobno"]{
    margin-left: 12px;
}
input[name="address"]{
    margin-left: 25px;
}

table, th, td{
    padding: 5px 3px ;
    border: 2px solid black;
    font-weight: normal;
  margin: 0 auto;
    
}
table{
    height: 150px;
    width: 720px;
    text-align: center;
}
.adding{
    text-transform: uppercase;
    cursor: pointer;
    height: 34px;
    width: 59px;
    font-size: 18px;
    background-color: #087df3;
    border: none;
    border-radius: 12px;
    color: white;
}
.removing
{
    text-transform: uppercase;
    cursor: pointer;
    height: 38px;
    width: 86px;
    font-size: 18px;
    background-color: #f31008;
    border: none;
    border-radius: 12px;
    color: white;
}
td{
    width: 800px;
}
h2{
    text-transform: capitalize;
    margin-top: 10vh; 
    text-align: center;
    font-size: 2.2rem ;
    color: #655877;
}
select{
    border-radius: 12px;
    height: 44px;
    width: 215px;
    margin: 0px 30px
}
option{
    height: 50px;
}
 